* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: "Noto Sans Bengali", Arial, sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}
